header,
 nav,
 article,
 aside,
 figure,
 footer,
 blockquote,
 h1,
 h2,
 h3
 
 #container {
     max-width: 1200px;
     margin: 0 auto;
 }
 nav { 
     font-family: Helvetica, Arial, sans-serif;
     font-weight: 200;
     text-align: center;
      
    
 }
 
 ul {
     list-style-type: none;
     margin: 5px;
     padding: 0;
     overflow: hidden;
     margin: auto;
     align-content: center;
     background-color: #046380;
     border-radius: 0;
     width: 75%;
         
 }
 
 li {
     display: inline-block;
     
   
 }
 
 li a {
     display: block;
     color: #EFECCA;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 
 li a:hover:not(.active) {
     color: #962D3E;
     background-color: #EFECCA;
 }
 
 .active {
     background-color: #EFECCA;
 }
 
 
 aside.right{
    color: #EFECCA;
     display: block;
     float: right;
     width: 24%;
     padding: 3%;
     background-color: #046380;
 }
 
 figure.left{
     width:125px;
     float:left
 
 }
 
 .center {
     margin: auto;
     width: 60%;
     padding: 1px;
 } 
 
 body {
     background-color: #EFECCA;
     text-align: left;
         
 }
 
 header {
    
     border-style: solid;
     border-width: 3px;
     border-color: #EFECCA; 
     border-radius: 10px;
     padding: 5px;
     padding-bottom: 20px;
     background-color: #EFECCA;
     font-family: Helvetica, Arial, sans-serif;
     text-align: center;
     
 }
 
 h1 {
     font-family: Helvetica, Arial, sans-serif;
     font-weight: 100;
     color: #962D3E;
     background-color: #EFECCA;
   
         
 }
 
  p {
     text-align: left;
     width: 80%;
     align-items: center; 
         
 }
 
 h2 {
     font-family: Helvetica, Arial, sans-serif;
     font-weight: 100;
     color: #962D3E;
     text-align: left;
     padding-top: 30px;
    
 }
 
 aside {
     
     display: block;
     float: right
         
 }
 
 h3 {
     
     text-align: center;
     color: #962D3E;
     font-weight: 100;    
 }
 
 p {
     color: black;
     font-weight: 500;    
     width: 64%;
     padding: 3%;
 }
 
 ol li {
     text-align: left;
 
 }
 
 #footer {
  
     font-family: Helvetica, Arial, sans-serif;
     font-weight: 100;
     font-size: 12px;
     text-align: center;
     color: #EFECCA;
     background-color: #046380;
    
         
 }
 
 a {
     text-decoration: none;
     color: #EFECCA;
 }
 
 div.main {
     
     font-family: Helvetica, Arial, sans-serif;
     font-weight: 100;
     font-size: 14px;
     
 }
 
 div.main a {
     color: black;
 }
 
 div.top {
     font-family: Helvetica, Arial, sans-serif;
     font-weight: 100;
     font-size: 18;
     
 }
 
 #content {
     font-family: Helvetica, Arial, sans-serif;
     width: 64%;
     padding: 3%;
     margin: auto;
     }
 }
     
 section p {
     font-family: Helvetica, Arial, sans-serif;
     font-weight: 100;
     font-size: 14px;
 }
 
 @media all and (max-width : 768px) {
     header {
         text-align: center;
     }
     
     nav {
         text-align: center;
     }
     
     #content {
     font-family: Helvetica, Arial, sans-serif;
     width: 64%;
     padding: 3%;
     margin: auto;
     }
     aside {
         display: none;
     }
 }
